
body{
    margin:0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:flex;
    justify-content:center;
    height:100vh;
    align-items:center;
    text-align:center;
}
h1{
    font-size:5em;
    backdrop-filter:brightness(70%);
    letter-spacing:5px;
}
.btn{
    background-color:black;
    color:gray;
    font-size:25px;
    border:4px solid gray;
    border-radius:50px;
    box-shadow:3px 4px 5px rgba(0,0,0,0.6);
    transition:1s background-color;
}
.btn:hover{
    background-color:gray;
    color:black;
}
.split{
    color:orangered;
    width:50%;
    height:100%;
    top:0;
}
.split.left{
    background-image:url("https://images.pexels.com/videos/35222652/pexels-photo-35222652.jpeg?w=200&h=200&fit=crop&dpr=2");
    background-size:cover;
    position:absolute;
    left:0;
    background-color:rebeccapurple;
}
.split.right{
    position:absolute;
    right:0;
    background-color:orangered;
    background:url("https://images.pexels.com/videos/35222651/pexels-photo-35222651.jpeg?w=200&h=200&fit=crop&dpr=2");
    background-size:cover;
}
