
body{
    margin:0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:flex;
    justify-content:center;
    height:100vh;
    align-items:center;
    text-align:center;
}
.container{
    display:grid;
    place-items:center;
}
.bkg{
    width:100%;
    height:100%;
    object-fit:cover;
    z-index: -1;;
}
.left{
    position:absolute;
    left:300px;
    top:200px;
}
.right{
    position:absolute;
    right:300px;
    top:200px;
}
.split{
    color:orangered;
}
