
body{
    margin:0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:flex;
    justify-content:center;
    height:100vh;
    align-items:center;
    text-align:center;
}
.split{
    color:orangered;
    font-size:25px;
    width:50%;
    height:100%;
}
.split.left{
    position:absolute;
    left:0;
}
.split.right{
    position:absolute;
    right:0;
}