
body{
    margin:0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:flex;
    justify-content:center;
    height:100vh;
    align-items:center;
    text-align:center;
}
h1{
    font-size:5em;
    backdrop-filter:brightness(70%);
    letter-spacing:5px;
}
.btn{
    background-color:black;
    color:gray;
    font-size:25px;
    border:4px solid gray;
    border-radius:50px;
    box-shadow:3px 4px 5px rgba(0,0,0,0.6);
    transition:1s background-color;
    white-space:nowrap;
}
.btn:hover{
    background-color:gray;
    color:black;
}
.split{
    overflow:hidden;
    color:orangered;
    width:50%;
    height:100%;
    top:0;
    transition:width 0.8s;
}
.split.left{
    background-image:url("https://images.pexels.com/photos/29020349/pexels-photo-29020349.jpeg");
    background-size:cover;
    position:absolute;
    left:0;
}
.split.right{
    position:absolute;
    right:0;
    background-image:url("https://images.pexels.com/photos/16149966/pexels-photo-16149966.jpeg");
    background-size:cover;
}
.active-left .left{
    width:75%;
}
.active-left .right{
    width:25%;
}
.active-right .right{
    width:75%;
}
active-right .right{
    width:25%;
}